@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition: background-color 0.2s, color 0.2s;
}
